/* Reset de margens, preenchimento e box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Definições de variáveis globais */
:root {
    font-size: 62.5%; /* Tamanho base de fonte em relação ao tamanho padrão do navegador */

    --font-base: 'Mulish', sans-serif;

    /* Cores */
    --color-base-white: #FFFFFF;
    --color-base-primary-blue: #065E7C;
    --color-base-light-blue: #387E96;
    --color-base-alice-blue: #F4FCFF;
    --color-base-dark-gray: #202024;
    --color-base-black: #121214;
}

/* Aplicação da fonte global para elementos específicos */
html, body, input {
    font-family: var(--font-base);
}

/* Estilo global do corpo da página */
body {
    font-size: 1.6rem;
    background-color: var(--color-base-alice-blue);
    color: var(--color-base-black);
}

/* Estilo do contêiner principal */
#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

/* Estilo do cabeçalho */
.container {
    width: min(100%, 100%);
    margin: 0 auto;
    position: fixed;
    background-color: var(--color-base-primary-blue);
}

/* Estilo do campo de pesquisa */
.input-wrapper input {
    width: 108.3rem;
    height: 4rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--color-base-light-blue);
    padding: 1.2rem 1.6rem;
}

.input-wrapper input::placeholder {
    opacity: 0.56;
    color: var(--color-base-white);
    font-weight: 600;
}

/* Estilo da navegação no cabeçalho */
.container nav {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    padding: 0.9rem 10rem;
}

/* Estilo da imagem do logotipo na navegação */
nav img:first-child {
    width: 4rem;
    height: 4rem;
}

/* Estilo da imagem do avatar */
.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

/* Estilo do contêiner de grade principal */
.grid-container {
    padding: 8.8rem 10.9rem;
    display: flex;
    gap: 3.4rem;
}

/* Estilo do título principal e subtítulo na barra lateral */
.title h1, 
aside h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

/* Estilo do título principal */
.title {
    padding: 3.1rem 0 3.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do conteúdo principal */
.principal p {
    width: 80rem;
}

/* Estilo do último parágrafo no conteúdo principal */
.principal p:last-child {
    padding-top: 3.2rem;
}

/* Estilo dos botões de curtir/descurtir */
.buttons button:nth-child(2) {
    padding-left: .5rem;
}

.buttons button {
    border: none;
    background: none;
}

/* Efeito de hover nos botões */
.buttons button:hover {
    filter: brightness(120%) hue-rotate(0deg) saturate(100%);
}

/* Efeito de clique nos botões de curtir/descurtir */
.buttons button:first-child:active {
    filter: hue-rotate(280deg);
}

.buttons button:last-child:active {
    filter: hue-rotate(150deg);
}

/* Estilo da imagem nos botões */
.title button img {
    width: 4rem;
    height: 4rem;
}

/* Estilo dos cartões de artigos relacionados */
.card {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-top: 2.3rem;
}

/* Estilo da imagem principal */
.image {
    width: 80.3rem;
    height: 40.5rem;
    border-radius: 0.5rem;
}

/* Estilo das imagens nos cartões de artigos relacionados */
.card img {
    width: 15.1rem;
    height: 8.4rem;
    border-radius: 0.5rem;
}

/* Estilo dos parágrafos no conteúdo principal e descrição */
.principal p, 
.description p {
    font-weight: 400;
    line-height: 160%;
}

/* Estilo dos parágrafos na descrição dos cartões */
.description p {
    width: 21.5rem;
    font-size: 1.4rem;
    padding-top: .70rem;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    background-color: var(--color-base-light-blue);
    color: var(--color-base-white);
    font-weight: 600;
    padding: 1.6rem 0;
}
/* Estilos responsivos para telas menores que 1024px */
@media (max-width: 1024px) {
    /* Ajuste do tamanho da fonte global */
    :root {
        font-size: 50%;
    }

    /* Ajuste do tamanho da fonte do corpo */
    body {
        font-size: 1.4rem;
    }

    /* Ajuste do layout do contêiner principal */
    #app {
        grid-template-rows: max-content 1fr;
    }

    /* Ajuste do estilo do campo de pesquisa */
    .input-wrapper input {
        width: auto;
        padding: 1rem;
    }

    /* Ajuste do estilo do contêiner principal */
    .container {
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Ajuste do estilo da navegação no cabeçalho */
    .container nav {
        padding: 1.2rem 2.8rem;
    }

    /* Ajuste do layout do contêiner de grade principal */
    .grid-container {
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    /* Ajuste do estilo do título principal */
    .title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        padding-top: 0;
    }

    /* Ajuste do estilo das imagens nos botões de curtir/descurtir */
    .buttons button img {
        width: 4rem;
        height: 4rem;
    }

   /* Ajuste do estilo da imagem principal */
   .image {
        width: 100%;
        height: 219px;
        object-fit: cover;
        border-radius: 0;
    }

    /* Ajuste do estilo das imagens nos cartões de artigos relacionados */
    .card img {
        width: 151px;
        height: 84px;
    }

    /* Ajuste do estilo do conteúdo principal */
    .principal {
        padding: 31px 26px 34px 22px ;
    }

    /* Ajuste do estilo dos parágrafos no conteúdo principal */
    .principal p {
        width: auto;
        line-height: 160%;
    }

    /* Ajuste do estilo da barra lateral */
    aside {
        padding: 0 26px 41px 22px;
    }

    /* Ajuste do tamanho da fonte no rodapé */
    footer {
        font-size: 1.6rem;
    }
}