* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --font-base: 'Mulish', sans-serif;

    --color-base-white: #FFFFFF;
    --color-base-primary-blue: #065E7C;
    --color-base-light-blue: #387E96;
    --color-base-alice-blue: #F4FCFF;
    --color-base-dark-gray: #202024;
    --color-base-black: #121214;
}

html, body, input {
    font-family: var(--font-base);
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-alice-blue);
    color: var(--color-base-black);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

header {
    background-color: var(--color-base-primary-blue);
}

.input-wrapper input {
    width: 108.3rem;
    height: 4rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--color-base-light-blue);
    padding: 1.2rem 1.6rem;
}

.input-wrapper input::placeholder {
    opacity: 0.56;
    color: var(--color-base-white);
    font-weight: 600;
}

.container {
    width: min(150rem, 100%);
    margin: 0 auto;
    position: fixed;
}

.container nav {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    padding: 0.9rem 10rem;
}

nav img:first-child {
    width: 4rem;
    height: 4rem;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.grid-container {
    padding: 8.8rem 10.9rem;
    display: flex;
    gap: 3.4rem;
}

.title h1, 
aside h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

.title {
    padding: 3.2rem 0 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal p {
    width: 80rem;
}

.principal p:last-child {
    padding-top: 3.2rem;
}

.buttons button {
    border: none;
    background: none;
}

.buttons button:hover {
    filter: brightness(120%) hue-rotate(0deg) saturate(100%);
}

.buttons button:first-child:active {
    filter: hue-rotate(280deg);
}

.buttons button:last-child:active {
    filter: hue-rotate(150deg);
}

.title button img {
    width: 4rem;
    height: 4rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-top: 2.3rem;
}

.image {
    width: 80.3rem;
    height: 40.5rem;
    border-radius: 0.5rem;
}

.card img {
    width: 15.1rem;
    height: 8.4rem;
    border-radius: 0.5rem;
}

.principal p, 
.description p {
    font-weight: 400;
    line-height: 160%;
}

.description p {
    width: 21.5rem;
    font-size: 1.4rem;
    padding-top: .70rem;
}

footer {
    text-align: center;
    background-color: var(--color-base-light-blue);
    color: var(--color-base-white);
    font-weight: 600;
    padding: 1.6rem 0;
}

@media (max-width: 1024px) {
    :root {
        font-size: 50%;
    }

    body {
        font-size: 1.4rem;
    }

    #app {
        grid-template-rows: max-content 1fr;
    }

    .input-wrapper input {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
    }

    .container {
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container nav {
        padding: 1.2rem 2.8rem;
    }

    .grid-container {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .title {
        padding: 2rem 1.6rem;
    }

    .buttons button img {
        width: 3rem;
        height: 3rem;
    }

    .image {
        width: 100%;
        height: 219px;
        object-fit: cover;
        border-radius: 0;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .principal p {
        width: auto;
    }

    .description p {
        width: 100%;
        font-size: 1.2rem;
    }
    
    footer {
        font-size: 1.2rem;
    }
}